/* NAV */

#sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--divbg);
  font-family: 'Miracle';
  margin: 5px;
  margin-top: 0;
  margin-bottom: 0;
  border: 2px solid var(--yellow);
  border-top: 0;
  border-bottom: 0;
}

#middleinnerbox,
#topinnerbox,
#bottominnerbox {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

#middleinnerbox a,
#topinnerbox a,
#bottominnerbox em,
#lastinnerbox {
  text-decoration: none;
  padding: 10px 50px;
  font-weight: 800;
  font-size: 17px;
}

#middleinnerbox a:hover,
#topinnerbox a:hover,
#lastinnerbox:hover {
  cursor: pointer;
  text-decoration: line-through;
  color: var(--textcl);
  background-color: var(--textcutthru);
}





.text {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 72px;
  text-decoration: none;
}


.btn {
  padding: 10px 15px;
  font-family: 'Miracle';
  font-weight: 800;
  text-decoration: none;
  border-radius: 5px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1), 400ms;
  border: 2px solid var(--textcutthru);
  color: var(--textcl);
}
.btn:hover{
  padding: 10px 15px;
  font-family: 'Miracle';
  font-weight: 800;
  text-decoration: none;
  border-radius: 5px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1), 400ms;
  background-color: var(--textcutthru);
  color: var(--divbg);
  text-decoration: line-through;
}

.midhalf {
  display: flex;
  flex-direction: row;
  margin: 20px;
  gap: 14px;
  margin-bottom: 50px;
  align-items: start;
}

.innermidhalf {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  width: 100vw;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 14px;
}

.btnHome {
  display: flex;
  gap: 14px;
}

.midhalf h3 {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 30px;
}

.midhalf div {
  font-size: 20px;
}

.innermidhalf div {
  width: 40vw;
  padding: 20px 40px;
  border-bottom: 6px solid var(--textcl);
  background-color: var(--divbg);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* MOCK */
.subjects{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Montserrat';
  font-size: 20px;
  padding: 10px 50px;
  background-color: var(--pagebg);
  color: var(--textcl); 
  border-radius: 5px;
}

.exams{
  display: flex;
  justify-content: space-between;
  margin: 20px 70px !important;
}

.exams p{
  font-size: 20px;
}

.bottommock{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.bottommock div{
  margin: 20px;
  background-color: var(--divbg);
}

.bottommock h3{
  margin: 20px 50px;
  font-size: 42px;
  font-family: 'Montserrat';
  font-weight: 300;
  margin-top: 50px;
}
.mockinner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.subjects p{
  font-size: 20px;
  margin: 0;
}
.subjects p a{
  font-size: 20px;
}

.picksub{
  font-size: 50px;
  font-family: 'Montserrat';
  width: 90vw;
}

.linkexam{
  text-decoration: underline;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1), 400ms;
}
.linkexam:hover{
  color: var(--textcutthru);
}

/* TEST */

form{
  padding: 30px;
  padding-top: 0;
  margin: 5px;
  margin-top: 0;
  border: 2px solid var(--yellow);
  border-top: 0;
}

hr{
  color: var(--textcutthru);

}
.param{
  text-align: center;
  font-size: 50px;
  font-family: 'Montserrat';
  margin-top: 0;
  padding-top: 30px;
}

.qn{
  font-size: 30px;
}

.ans{
  padding: 10px;
  font-size: 26px;
}

.ans label{
  padding: 10px;
}


.subbtn{
  padding: 5px 20px;
  margin: 15px;
  font-size: 30px;
  outline: none;
  border: 2px solid var(--textcutthru);
  color: var(--textcl);
  background-color: transparent;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1), 400ms;
  font-family: 'Montserrat';
}
.subbtn:hover {
  cursor: pointer;
  color: var(--divbg);
  background-color: var(--textcutthru);
}

.qnno{
  padding: 10px 10px;
  border: 2px solid white;
  border-radius: 100%;
  width: 20px;
  text-align: center;
}

/* @media only screen and (max-width: 1060px) {
  
  #middleinnerbox a,
    #topinnerbox a,
    #bottominnerbox em,
    #lastinnerbox {
        padding: 10px 30px;
    }

  .introbox p {
    font-size: 48px;
  }

  .innermidhalf div {
    width: 80vw;
    padding: 10px 20px;
    margin: auto;
  }
  .innermidhalf{
    grid-template-columns: 1fr;
  }
  .subjects p{
    font-size: 14px !important;
  }
  .subjects p a{
    font-size: 14px;
  }
  .btn{
    padding: 0;
    text-decoration: underline;
    border: 0;
    color: var(--textcl);
    background-color: transparent;
  }
  .btn:hover {
    padding: 0%;
    border: none;
    color: var(--textcutthru);
    background-color: transparent;
  }
  .bottommock h3{
    margin: 5px 20px;
    margin-top: 50px;
    font-size: 24px;
  }
  .exams{
    margin: 5px 30px !important;
  }
  .exams p{
    font-size: 14px;
  }
  .bottommock{
    grid-template-columns: 1fr;
  }
  .param{
    font-size: 30px;
  }
  
  .qn{
    font-size: 20px;
  }
  
  .ans{
    font-size: 16px;
  }
  .subbtn{
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {

  #middleinnerbox,
    #bottominnerbox {
        display: none;
    }

    #lastinnerbox {
        display: block !important;
    }

  .introbox {
    padding: 20px;
    padding-top: 50px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size: 14px;
  }

  .introbox a,
  .introbox p {
    font-size: 36px;
  }

  .user {
    color: crimson;
    cursor: pointer;
  }

  .btn {
    font-size: 17px !important;
  }

  
  .midhalf h3 {
    font-size: 20px;
  }
  .subjects p{
    font-size: 12px !important;
  }
  .subjects a{
    font-size: 12px !important;
  }
  .mockinner{
    grid-template-columns: 1fr;
  }
  
  
}


@media only screen and (max-width: 500px) {
  .exams{
    flex-wrap: wrap;
  }
} */